<div class = "container">
  <h2>Cricket List Component</h2>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>JerseyNumber</th>
      <th>Age</th>
      <th>Rewards</th>
    </tr>
    </thead>
    <tbody>
  <tr *ngFor = "let cricket of crickets" [routerLink]="['/crickets',cricket.playerName]">
    <td>{{cricket.playerName}}</td>
    <td>{{cricket.playerPosition}}</td>
    <td>{{cricket.playerJerseyNumber}}</td>
    <td>{{cricket.playerAge}}</td>
    <td>{{cricket.isplayerawards ? 'Yes' : 'No'}}</td>
  </tr>
  </tbody>
</table>
<app-cricket-list-item[crickets]="selectedCricket"></app-cricket-list-item>
</div>

