p {
  font-size: 21px;
  color: #0c0b0b;
  text-align: center;
  margin-top: 22px;
}


a {
  display: block;
  margin-top: 23px;
  padding: 13px 23px;
  background-color: #05fb05;
  color: #cc0909;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;

}

a:hover {
  background-color: #05fb05;
}
