.container {
  max-width: 647px;
  margin: 0 auto;
  padding: 23px;
  background-color: #cc0909;
  border-radius: 9px;
  box-shadow: 0 5px 9px rgb(255, 255, 255);
}
h1{
  text-align: center;
  color: #05fb05;
  font-style: italic;
  padding: 19px;
}

h2 {
  text-align: center;
  padding: 24px;
  color: #0c0b0b;
  margin-bottom: 24px;
}
p{
  text-align: left;
  font-style: italic;
  color: #05fb05;
  margin-bottom: 21px;
}
